config.json
data.json
stocks.json
stock_history.json
lottery.json
facilities.json
industriesstore.json
contracts.json
industries.json
options.json
industries.json
rpg.json
backupdata.json
backupstock.json
/backups

rpgitems.json
rpgparties.json
rpgbackup.json
.gitignore
__pycache__/rpgskills.cpython-311.pyc
__pycache__/rpgabilities.cpython-311.pyc
__pycache__/rpgai.cpython-311.pyc
__pycache__/rpgcombat.cpython-311.pyc
activecombats.json
enemies.json
